<p>All the pizzas!</p>
<% @pizzas.each do |pizza| %>
    <div class="customer_details">
        <p>Name: <%= pizza.pretty_name %></p>
        <p>Order: <%= pizza.quantity() %> X <%= pizza.topping() %></p>
    </div>
    <p class="check"><a href="/pizzas/<%= pizza.id %>">Check your order</a></p>
    <hr />
<% end %>
