body {
    color: pink;
    background-image: -webkit-linear-gradient(#14f472, red);;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center, justify;
}

.links {
    color: yellow;
}

.choices {
    flex-wrap: wrap;
    color: red;
}

.check {
    justify-content: center;
}

.customer_details {
    justify-content: center;

}

.wrap {
    justify-content: center;
    flex-wrap: wrap;
}
