body {
    color: saddlebrown;
    background-image: -webkit-linear-gradient(#14f472, red);;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center, justify;
}

.customer_details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.check {
    display: flex;
    justify-content: center;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
